$cssBlock: 'react-drag-sort-table';

.#{$cssBlock} {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  word-wrap: break-word;
  word-break: break-all;
  color: rgba(0,0,0, .85);
  font-size: 14px;

  &-row {
    transition: all .2s ease-in-out;
    &:hover {
      background-color: #fafafa;
    }
    &:nth-child(2n) {
      background-color: #fafafa;
    }
    .#{$cssBlock}-cell {
      box-sizing: border-box;
      padding: 16px;
      // border-bottom: 1px solid #f0f0f0;
      text-align: left;
      &.sort-column {
        // background-image: url('./img/drag.svg');
        cursor: move;
      }
    }
  }

  &-head {
    font-weight: 500;
    &-row {
      background: #fafafa;
      .#{$cssBlock}-cell {
        position: relative;
        white-space: nowrap;
        &:hover {
          .adjust-width-flag {
            display: block;
          }
        }
        .required-icon {
          color: #ff4d4f;
        }
        .adjust-width-flag {
          display: none;
          position: absolute;
          width: 5px;
          height: 100%;
          right: 0;
          top: 0;
          background-color: #e6e3e3;
          cursor: col-resize;
          &:hover {
            background-color: #59c7f9;
          }
        }
      }
    }
  }

  &-body {
    &-row {
      margin-top: 1px;
      &.drop-it-bottom {
        .#{$cssBlock}-cell {
          border-bottom: 1px solid #59c7f9;
        }
      }
      &.drop-it-top {
        .#{$cssBlock}-cell {
          border-top: 1px solid #59c7f9;
        }
      }
    }
  }
}
